@import 'tailwindcss';

:root {
  /* --background: #ffffff; */
  --background: #0a0a0a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapperAll {
  position: absolute;
  /* background: rgb(51, 51, 58); */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 360px 1fr;
  /* grid-template-columns: 100px 500px 100px; */
  grid-template-rows: 1fr 640px 1fr;
  overflow-y: auto;
  overflow-x: hidden;
}

.charWrapper {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  /* background-color: green; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 1fr 60px;
}

.headerWrapper {
  /* background-color: red; */
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  /* align-content: ; */
}

.mainWrapper {
  /* background-color: green; */
  grid-column: 1;
  grid-row: 2;
  /* display: grid; */
  width: 100%;
  height: 100%;
  padding: 10px;
}

.footerWrapper {
  /* background-color: rgb(9, 0, 128); */
  grid-column: 1;
  grid-row: 3;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

.genButton {
  /* background-color: teal; */
  border: 1px solid black;
  /* width: 100%; */
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 5px;
  background-color: teal;
  justify-self: center;
  align-self: center;
  z-index: 1;
  /* grid-column: 2; */
  /* align-self: start; */
  /* align-self: end; */
}

.species {
  /* display: flex; */
  /* background-color: orange; */
  width: 100%;
  height: fit-content;
}

.abilityScores {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 1fr;
  grid-template-rows: 30px 30px;
  /* align-items: center; */
  align-content: center;
}

.abilityScoreBox {
  background-color: teal;
  align-self: center;
  text-align: center;
  border: 1px solid black;
  grid-row: 2;
  /* align-items: center; */
}

.abilityRollType {
  grid-row: 1;
  grid-column: 1/7;
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* vertical-align: center; */
  /* align-self: center; */
  /* justify-self: center; */
  border: 3px solid black;
  width: 100%;
  height: 100%;
}

#parchment {
  /* position: absolute; */
  grid-column: 1;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* display: flex; */
  /* width: 75%; */
  /* min-height: calc((1vw + 1vh) * 75); */
  /* center page with absolute position */
  /* top: 0%; left: 50%; transform: translate(-50%, 0); */
  /* margin: 2em 0; */
  /* padding: 4em; */
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}
